In [1]:
# Ans1 Use a for loop when you know the loop should execute n times. 
# Use a while loop for reading a file into a variable.
# Use a while loop when asking for user input. Use a while loop when the increment value is nonstandard.

In [3]:
# e.g for loop
l= range(10)
for i in l:
    print(i+2)

2
3
4
5
6
7
8
9
10
11

In [5]:
# e.g while loop
n=10
i=1
while i <10:
    print(i+2)
    i=i+1

3
4
5
6
7
8
9
10
11

In [6]:
# Ans 2
## For Loop

sum = 0
product = 1
for i in list(range(1,11)):
    sum = sum + i
    product = product * i
print("Using For Loop")
print("Sum of first 10 natural numbers is",sum)
print("Product of first 10 natural numbers is",product)

Using For Loop
Sum of first 10 natural numbers is 55
Product of first 10 natural numbers is 3628800

In [7]:
## While Loop

count = 1
sum = 0
product = 1
while(count<11):
    sum = sum + count
    product = product * count
    count += 1
print("Using While Loop")
print("Sum of first 10 natural numbers is",sum)
print("Product of first 10 natural numbers is",product)

Using While Loop
Sum of first 10 natural numbers is 55
Product of first 10 natural numbers is 3628800

In [8]:
#Ans 3
total_units = int(input("Enter the total units consumed: "))
if total_units >0 and total_units <=100:
    bill = total_units*4.5
elif total_units >100 and total_units <=200:
    bill = (total_units-100)*6 + (100)*4.5 
elif total_units >200 and total_units <=300:
    bill = (total_units-200)*10 + (100*6) + (100*4.5)
elif total_units >300:
    bill = (total_units-300)*20 + (100*10) + (100*6) + (100*4.5)
else:
    print("Invalid Input")
print("The total bill amount is: Rs. %.2f" % bill)

Enter the total units consumed:  310

The total bill amount is: Rs. 2250.00

In [9]:
#Ans 4
# using For Loop

l  = list(range(1,101))
l2 = []
for i in l:
    cube = i**3
    if cube%4 == 0 or cube%5 == 0:
       l2.append(i)
print("List of numbers those cubes are divisible by either 4 or 5 are",l2)

List of numbers those cubes are divisible by either 4 or 5 are [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [10]:
#using while loop
count = 1
l = []
while(count <=100):
    cube = count**3
    if cube%4 == 0 or cube%5 == 0:
        l.append(count)
    count +=1
print("List of numbers those cubes are divisible by either 4 or 5 are",l)

List of numbers those cubes are divisible by either 4 or 5 are [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [11]:
# ANS 5
string = "I want to become a data scientist"

In [20]:
count = list(filter(lambda x : x.lower()=='a' or x.lower()=='e' or x.lower()=='i' or x.lower()=='o' or x.lower()=='u' , string))

In [21]:
num=0
for i in count:
    num= num+1

In [22]:
print(num , " vowels are present in given string")

12  vowels are present in given string

In [23]:
# OR

In [24]:
string = "I want to become a data scientist"
vowels = ('aeiou')
count = 0
for i in string.lower():
    if i in vowels:
        count += 1
print("Number of Vowels in Given String is :",count)

Number of Vowels in Given String is : 12